html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:#237f57;
}

.car_forecast {
    background-color: #aee789;
}

.car_forecast table {
    background-color: #92e077;
}

.btn {
    background-color: #9bf603;
    color: black;
}